.card {
  background-color: $light-blue;
  width: 400px;
  min-width: 350px;
  height: 350px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-of-type) {
    margin-right: 1.5rem;
  }

  @media screen and (max-width: 425px) {
    width: 300px;
    height: 300px;

    h1 {
      font-size: $small-medium;
    }
  }
}
