.heading {
  font-weight: 500;
  font-size: $medium-large;
  font-family: 'Poppins';
  color: $white;

  @media screen and (max-width: 425px) {
    font-size: $medium;
  }

  span {
    color: $orange;
  }

  &--home {
    margin-bottom: 1rem;

    @media screen and (max-width: 425px) {
      font-size: $medium;
    }
  }

  &--about-me {
    margin-bottom: 4rem;
    max-width: 400px;
  }

  &--technologies {
    font-size: $medium;
    text-align: center;
    padding: 0 2rem;

    @media screen and (max-width: 991px) {
      text-align: left;
      padding: 0 0.5rem;
    }
  }

  &--footer {
    margin-bottom: 5rem;
  }
}

.minor-heading {
  letter-spacing: 0.15em;
  font-size: $small-medium;
  font-weight: 400;
  font-family: 'Poppins';
  color: $white;
  opacity: 0.5;

  @media screen and (max-width: 425px) {
    font-size: $small;
  }
}

.paragraph {
  font-size: $small;
  font-weight: 300;
  font-family: 'Poppins';
  color: $white;
  opacity: 0.7;

  &--about-me {
    margin-bottom: 5rem;
  }

  &--footer {
    opacity: 1;
    margin: 1.5rem 0;

    strong {
      font-weight: 500;
    }
  }
}

.home {
  &__nav-links {
    list-style-type: none;

    li {
      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }

      a {
        text-decoration: none;
        color: $white;
        font-weight: 600;
        font-size: $medium;
        font-family: 'Poppins';
        opacity: 0.15;
        position: relative;
        transition: all 400ms ease-out;

        &::after {
          content: '';
          width: 1px;
          height: 7px;
          background-color: $orange;
          border-radius: 100%;
          position: absolute;
          top: 15px;
          left: 50%;
          transform: translate(-50%, 0);
          transition: all 600ms cubic-bezier(0.35, -0.04, 0.23, 1.38);
          opacity: 0;
        }
        &:hover {
          opacity: 1;

          &::after {
            opacity: 1;
            width: 7px;
            top: -8px;
          }
        }
      }
    }
  }

  &__social-links {
    i {
      color: $white;
      &:hover {
        color: $orange;
      }
    }
  }

  &__icon {
    position: relative;
    width: 20px;
    height: 20px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 1;
      transition: all 350ms cubic-bezier(0.35, -0.04, 0.23, 1.38);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      opacity: 0;
      transition: all 350ms cubic-bezier(0.35, -0.04, 0.23, 1.38);
      pointer-events: none;
    }

    &:hover {
      &::before {
        opacity: 0;
        bottom: 100%;
        transition: all 350ms cubic-bezier(0.35, -0.04, 0.23, 1.38);
      }

      &::after {
        opacity: 1;
        top: 0;
        transition: all 350ms cubic-bezier(0.35, -0.04, 0.23, 1.38);
      }
    }

    &--github {
      &::before {
        content: '\f09b';
      }

      &::after {
        content: '\f09b';
      }
    }

    &--instagram {
      &::before {
        content: '\f16d';
      }

      &::after {
        content: '\f16d';
      }
    }

    &--linkedin {
      &::before {
        content: '\f0e1';
      }

      &::after {
        content: '\f08c';
      }
    }
  }

  &__name-text {
    color: $white;
    font-size: $extra-large;
    font-weight: 700;
    font-family: 'Poppins';
    position: relative;

    @media screen and (max-width: 500px) {
      font-size: $large;
    }

    @media screen and (max-width: 425px) {
      font-size: $medium-large;
    }

    &::after {
      content: '';
      width: 8%;
      height: 10px;
      background-color: $orange;
      position: absolute;
      left: 2px;
      bottom: -40px;

      @media screen and (max-width: 991px) {
        height: 5px;
      }
    }
  }
}

.about-me {
  &__technologies {
    text-align: center;
    i {
      font-size: $medium-large;
      color: $white;
      opacity: 0.1;
      cursor: pointer;
      transition: all 250ms ease-out;
    }
  }

  .fa-html5 {
    &:hover {
      color: $orange;
      opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  .fa-css3-alt {
    &:hover {
      color: rgb(13, 113, 228);
      opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  .fa-sass {
    &:hover {
      color: rgb(214, 76, 152);
      opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  .fa-js-square {
    &:hover {
      color: rgb(255, 196, 0);
      opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  .jquery-icon {
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      fill: rgb(13, 113, 228);
      fill-opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  .fa-react {
    &:hover {
      color: rgb(13, 113, 228);
      opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  .fa-gulp {
    &:hover {
      color: rgb(255, 75, 75);
      opacity: 0.7;
      transition: all 450ms ease-in-out;
    }
  }

  .fa-bootstrap {
    &:hover {
      color: rgb(132, 79, 255);
      opacity: 0.7;
      transition: all 450ms ease-in-out;
    }
  }

  .photoshop-icon {
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      fill: rgb(13, 113, 228);
      fill-opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  .xd-icon {
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      fill: rgb(250, 74, 171);
      fill-opacity: 0.7;
      transition: all 250ms ease-in-out;
    }
  }

  &__cards {
    .fas {
      margin-right: 2.5rem;
    }
  }
}

.footer {
  input,
  textarea {
    color: $white;
    font-size: $small;
    font-weight: 400;
    font-family: 'Poppins';
    resize: none;

    &::-webkit-input-placeholder {
      color: $white;
      font-weight: 300;
    }

    &::-moz-placeholder {
      color: $white;
      font-weight: 300;
    }

    &:-moz-placeholder {
      color: $white;
      font-weight: 300;
    }

    &:-ms-input-placeholder {
      color: $white;
      font-weight: 300;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
