// Colors
$white: #f3f3f3;
$orange: #efa649;
$dark-blue: #1f212c;
$blue: #3d404f;
$light-blue: #464a5a;

$gradient-home: radial-gradient(100% 100% at 50% 0%, #464a5a 0%, #252734 100%);
$gradient-footer: radial-gradient(
  100% 100% at 50% 100%,
  #3d4050 0%,
  #252734 100%
);

// Fonts
$small: 1.4rem;
$small-medium: 1.8rem;
$medium: 2.4rem;
$medium-large: 3.6rem;
$large: 6.4rem;
$extra-large: 7.2rem;
