.footer {
  padding: 20rem 0;
  background: $gradient-footer;

  @media screen and (max-width: 991px) {
    padding: 10rem 0;
  }

  @media screen and (max-width: 425px) {
    padding: 5rem 0;
    height: unset;
  }

  &__form {
    form {
      min-height: 420px;
    }

    input,
    textarea {
      width: 100%;
      background: transparent;
      outline: none;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid hsla(0, 0%, 95%, 0.2);
    }

    textarea {
      height: auto;
      max-height: 150px;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    @media screen and (max-width: 768px) {
      margin-top: 10rem;
      margin-bottom: 3rem;
    }
  }

  &__field {
    position: relative;
    margin-bottom: 3rem;

    .input-line {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 1px;
      background-color: $orange;
      transition: all 600ms ease-in-out;

      &--textarea {
        bottom: 4px;
      }
    }

    textarea:focus,
    input:focus {
      & + .input-line {
        width: 100%;
        transition: all 600ms ease-in-out;
      }
    }
  }

  &__end {
    a:focus-within {
      outline: none;
    }
  }
}
