.footer {
  padding: 20rem 0;
  background: $gradient-footer;

  @media screen and (max-width: 991px) {
    padding: 10rem 0;
  }

  @media screen and (max-width: 425px) {
    padding: 5rem 0;
    height: unset;
  }

  &__form {
    input,
    textarea {
      width: 100%;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid hsla(0, 0%, 95%, 0.2);
    }

    input {
      margin-bottom: 3rem;
    }

    textarea {
      height: auto;
      max-height: 150px;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    @media screen and (max-width: 768px) {
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
  }
}
