.home {
  padding: 20rem 0;
  height: 100vh;
  background: $gradient-first;

  &__header {
    height: 20%;
  }

  &__nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 0;
  }

  &__section {
    height: 80%;
    padding-top: 5rem;
    position: relative;
    z-index: 3;
  }

  &__social-links {
    a {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }

  &__hero {
    img {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 50%;
      transform: translate(-65%, 0);
    }
  }
}
