.home {
  padding: 20rem 0;
  height: 100vh;
  background: $gradient-home;

  @media screen and (max-width: 991px) {
    padding: 10rem 0;
  }

  @media screen and (max-width: 425px) {
    padding: 2rem 0 15rem 0;
  }

  &__header {
    height: 20%;
  }

  &__nav {
    .fa-bars {
      display: none;
      font-size: $medium;
      color: $white;
      padding-top: 1rem;

      @media screen and (max-width: 1200px) {
        display: block;
      }
    }

    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 0;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__section {
    height: 80%;
    padding-top: 5rem;
    position: relative;
    z-index: 3;
  }

  &__social-links {
    a {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }

    &--home {
      display: block;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  &__hero {
    @media screen and (max-width: 991px) {
      display: none;
    }
    img {
      position: absolute;
      z-index: -1;
      bottom: -20rem;
      left: 50%;
      transform: translate(-65%, 0);

      @media screen and (max-height: 900px) {
        height: 700px;
      }

      @media screen and (max-height: 800px) {
        height: 600px;
      }
    }
  }
}
