.home {
  padding: 20rem 0;
  height: 100vh;
  background: $gradient-first;

  &__header {
    height: 20%;
  }

  &__nav-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 0;
  }

  &__section {
    height: 80%;
  }
}
